.margin-top-25 {
    margin-top: 25px;
}

.currentStepHeadline {
    padding-bottom: 30px;
}

.delSucessMsg {
    font-size: 1.1rem;
}

.important {
    color: #ff4b00;
    font-weight: 700;
    font-size: large;
}

.padding-top-bot {
    padding-top: 40px;
    padding-bottom: 40px;
}

.react-tabs__tab {
    width: 50%;
    font-size: 1.2rem;
    text-align: center;
}

.react-tabs__tab--selected {
    background: #f7f7f7 !important;
}

.react-tabs__tab--selected {
    background: #f7f7f7;
}

.react-tabs__tab-list {
    margin: 0 0 0px !important;
}

.react-tabs__tab-panel {
    border-top: none !important;
    border: 1px solid #aaa;
    background-color: #f7f7f7;
}

.delegatenowbtn {
    padding: 15px;
    color: whitesmoke;
    border: 1px;
    box-shadow: 0 3px 0 0 #003d35;
    background-image: linear-gradient(to right,#b8cbb8 0,#b8cbb8 0,#2f9a82 0,#228a6d 33%,#2f7763 66%,#22675a 100%)
}

.redelegatenowbtn {
    padding: 15px;
    color: whitesmoke;
    border: 1px;
    box-shadow: 0 3px 0 0 #003d35;
    background-image: linear-gradient(to right,#315285 0,#315285 0,#477E99 0,#477E99 45%,#558AAD 66%,#558AAD 100%)
}

.delegatenowbtn:active, .delegatenowbtn.active {

    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}

.delegatenowbtn:hover {
    color: whitesmoke;
    transition: all .15s ease-in-out;
}

.cos-address {

    font-weight: bold;

}

.padd-25 {
    padding: 25px;
}

.padd-bot-25 {
    padding-bottom: 25px;
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}